<div ng-controller="Register" class="container">
	<div class="row col-md-4 col-md-offset-4">
        <div class="col-md-12">
      		<div ng-show="err">	
      			<div class="alert alert-danger">
      				{{err}}
      			</div>
      		</div>
      		<br>
	    </div>
	    <div class="col-md-12">
	    	<a href="#/user">
	    		Back to user page
	    	</a>
	    </div>
        <div class="col-md-12">
      		<input class="form-control" ng-model="userCreation.login" placeholder="Login">
      		<br>
	    </div>

	    <div class="col-md-12">
      	    <input class="form-control"  ng-model="userCreation.full" placeholder="Full name">
      	    <br>
      	</div>
      	<div class="col-md-12">
      	    <input class="form-control"  ng-model="userCreation.mail" placeholder="E-mail">
      	    <br>
	    </div>
	    <div class="col-md-12">
      		<input class="form-control" type="password" ng-model="userCreation.password" placeholder="Password">
			<br>
		</div>
		<div class="col-md-12">
			<input class="form-control" type="password" ng-model="userCreation.passwordConfirm" placeholder="Password again">
		     <br>
		</div>
		<div class="col-md-12">
			<button class="btn btn-primary" ng-click="Register()">
				Register
			</button>
		</div>
	</div>
</div>