
		<div class="container">
			<!--<div class="row">-->
				<h1>
					User's list:
				</h1>
				<a href="#/register">
					Go to registration page
				</a>
				<table class="table table-hover">
					<tr>
						<td>
							<b>Login</b>
						</td>
						<td>
							<b>Full name</b>
						</td>
						<td>
							<b>E-mail address</b>
						</td>
						<td>
							<b>Roles</b>
						</td>
						<td>
						</td>
						<td>
						</td>
					</tr>
					<tr ng-repeat="user in Users track by $index" id="id-{{$index}}">
									<td ng-show="!user.editing">{{user.login}}</td>
					      				<td ng-show="!user.editing">{{user.full}}</td>
					      				<td ng-show="!user.editing">{{user.mail}}</td>
					      				<td ng-show="!user.editing">{{user.role.join(', ')}}</td>
										<td ng-show="!user.editing">
											<button class="btn btn-success" ng-click="Edit($index)">
												Edit
											</button>
										</td>
										<td ng-show="!user.editing">
											<button class="btn btn-danger" ng-click="Delete($index)">
												Delete
											</button>
										</td>
								<td ng-show="user.editing">
									<input class="form-control" ng-model="Users[$index].login" value="user.login">
								</td>
								
								<td ng-show="user.editing">
									<input class="form-control" ng-model="Users[$index].full" value="user.full">
								</td>
								<td ng-show="user.editing">
									<input class="form-control" ng-model="Users[$index].mail" value="user.mail">
								</td>
								<td ng-show="user.editing">
									<input type="checkbox" ng-checked="Checked('student', $index)" ng-click="Role('student', $index)"> Student
						      	    <br>
						      	    <input type="checkbox" ng-checked="Checked('mentor', $index)" ng-click="Role('mentor', $index)"> Mentor
						      	    <br>
						      	    <input type="checkbox" ng-checked="Checked('admin', $index)" ng-click="Role('admin', $index)"> Admin
								</td>
								<td ng-show="user.editing">
									<button ng-click="Save($index)" class="btn btn-success">
										Save
									</button>
								</td>
					</tr>
				</table>
			<!--</div>-->
			<div class="modal fade" id="userField" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        <h4 class="modal-title" id="myModalLabel">Add new user</h4>
			      </div>
			      <div class="modal-body">
			      		<div class="row">
			      			<div class="col-md-12">
				      		<div ng-show="err">
				      			<div class="alert alert-danger">
				      				{{err}}
				      			</div>
				      		</div>
				      		</div>
				      	</div>
					      	<div class="row">
						        <div class="col-md-12">
						      		<input class="form-control" ng-model="userCreation.login" placeholder="Login">
						      		<br>
							    </div>

							    <div class="col-md-12">
						      	    <input class="form-control"  ng-model="userCreation.full" placeholder="Full name">
						      	    <br>
							    </div>

							    <div class="col-md-12">
						      	    <input class="form-control"  ng-model="userCreation.mail" placeholder="E-mail">
						      	    <br>
							    </div>
							    <div class="col-md-12">
						      	    <input class="form-control" type="password" ng-model="userCreation.password" placeholder="Password">
						      	    <br>
							    </div>
							    <div class="col-md-12">
						      	    <input class="form-control" type="password" ng-model="userCreation.passwordConfirm" placeholder="Password again">
						      	    <br>
							    </div>
							    <div class="col-md-12">
							    	<b><h4>Choose roles:</h4> </b>
							    	<br>
						      	    <input type="checkbox" ng-click="Role('student')"> Student
						      	    <br>
						      	    <input type="checkbox" ng-click="Role('mentor')"> Mentor
						      	    <br>
						      	    <input type="checkbox" ng-click="Role('admin')"> Admin
						      	    
							    </div>
							</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" ng-click="AddToArray()" class="btn btn-primary">Add</button>
			      </div>
			    </div>
			  </div>
			</div>
			<div ng-show="isAdmin">
				<div class="row">
					<div class="col-md-offset-1">
						<button ng-click="Add()" class="btn btn-primary btn-lg">	
							Add user
						</button>
					</div>
				</div>
			</div>
		</div>